<div class="ui segment">
	<p> New leave request </p>

	<form class="ui form" {{action "createLeave" model on="submit"}}>
	  <div class="field">
			<label for="employee"> Employee </label>
			{{input type="text" id="employee" value=model.employee}}
		</div>

	  <div class="field">
			<label for="reason"> Reason </label>
			{{input type="text" id="reason" value=model.reason}}
		</div>

	  <div class="field">
			<label for="from"> From </label>
			{{input type="text" id="from" value=model.from}}
		</div>

	  <div class="field">
			<label for="to"> To </label>
			{{input type="text" id="to" value=model.to}}
		</div>

		<button class="ui basic teal button " type="submit"> Go! </button>

	</form>

</div>

