<table class="ui celled striped table">
  <thead>
	  <tr>
	  	<th> Employee </th>
	  	<th> Reason </th>
	  	<th> From </th>
	  	<th> To </th>
	  	<th> Status </th>
	  	<th> Actions </th>
  	</tr>
  </thead>
  <tbody>
		{{#each model as |leave|}}
			{{#link-to "leaves.leave" leave tagName="tr"}}    
				<td> {{leave.employee}} </td>
				<td> {{leave.reason}} </td>
				<td> {{leave.from}} </td>
				<td> {{leave.to}} </td>
				<td> {{leave.status}} </td> 
				<td> 
					<button class="ui green basic button" {{action "updateLeaveStatus" leave "Approved"}}> Approve </button>
					<button class="ui red basic button" {{action "updateLeaveStatus" leave "Rejected"}}> Reject </button>
				</td>
			{{/link-to}}
		{{/each}}
  </tbody>
</table>

<p>
	{{outlet}}
</p>